---
import Layout from '../layouts/Layout.astro'
import { title, slug } from '../meta.json'
---

<Layout {title} repoUrl={`https://github.com/devjam/playground-${slug}`}>
  <main>
    {/* contents start */}
    <div x-data="particleClock" class="h-lvh w-screen">
      <div class="absolute inset-0 size-full" x-ref="container"></div>
    </div>
    {/* contents end */}
  </main>
</Layout>
